  body {
        min-height: 2000px;
        /*padding-top: 70px;*/
      }
.angular-google-map-container {
     height: 400px; 
     }

 
.flash-message {
    margin-top: 20px;

     /*height: 600px; */
}



mark{
  background-color: lightblue;
  height: 500px;
  width: 1000px;
}

section{
  margin-left: 10px;
  padding-left: 20px;
 
  padding-bottom: 10px;
  padding-right: 10px;
  
 
}